body {
    font-family: 'Droid Sans', sans-serif;
    color: white;
    background: black;
}

#canvasOne {
    position: absolute;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#canvas-holder {
    padding: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    overflow: hidden;
}

.dropdown > li.clear-option {
    background: #511;
    display: none;
}

.container {
    position: absolute;
}

#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
}

#overlay2 {
    position: absolute;
    right: 300px;
    top: 10px;
}

#infoBox {
    position: fixed;
    top: 1px;
    right: 10px;
    bottom: auto;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    color: white;
}

@font-face {
    font-family: 'riko';
    src: url('../assets/fonts/rikos.regular.ttf') format('truetype');
}

.coolLogo {
    font-family: 'riko';
}

#timeBar {
    text-align: center;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 250px;
    right: 250px;
}


a{
    color: white;
}

.btn-default{
    background-color: rgba(153, 153, 153, 0.41);;
    color: rgb(230,230,230);

}

/*Search box*/

#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
    width:15%;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: rgba(153, 153, 153, 0.41);
}


.search-query:focus + button {
    z-index: 3;
    background-color: rgb(230,230,230);
}

/*Checkbox*/

    .material-switch > input[type="checkbox"] {
        display: none;
    }

    .material-switch > label {
        cursor: pointer;
        height: 0px;
        position: relative;
        width: 40px;
    }
    /*slider*/
    .material-switch > label::before {
        background: rgb(0, 0, 0);
        box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        content: '';
        height: 16px;
        margin-top: -8px;
        position:absolute;
        opacity: 0.3;
        transition: all 0.4s ease-in-out;
        width: 40px;
    }
    /*Circle on slider*/
    .material-switch > label::after {
        background: rgb(255, 255, 255);
        border-radius: 16px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        content: '';
        height: 24px;
        left: -4px;
        margin-top: -8px;
        position: absolute;
        top: -4px;
        transition: all 0.3s ease-in-out;
        width: 24px;
    }
    .material-switch > input[type="checkbox"]:checked + label::before {
        background: inherit;
        opacity: 0.5;
    }
    .material-switch > input[type="checkbox"]:checked + label::after {
        background: inherit;
        left: 20px;
    }

    .list-group-item{
        color: rgb(230,230,230);
        background-color: rgba(91, 91, 91, 0.41);
    }
    .panel, .panel-heading, .panel-default{
        background-color: rgba(91, 91, 91, 0.41) !important;
    }
 /*end of checkbox*/
#customStatus{
    font-size: 20px;
    position: absolute;
    bottom: 95px;
    right: 250px;
    text-align: right;
}