body {
    font-family: 'Droid Sans', sans-serif;
    color: white;
    background: black;
}

#canvasOne {
    position: absolute;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

#canvas-holder {
    padding: 0;
     padding-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    overflow: hidden;
}

.dropdown>li.clear-option {
    background: #511;
    display: none;
}

.container {
    position: absolute;
}
#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
}

#overlay2 {
    position: absolute;
    right: 300px;
    top: 10px;
}
#infoBox {
    position: fixed;
    top: 1px;
    right: 10px;
    bottom: auto;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    color: white;
}
  @font-face {
      font-family: 'riko';
      src: url('../assets/fonts/rikos.regular.ttf') format('truetype');
}
.coolLogo{
    font-family: 'riko';
}