body {
    font-family: 'Droid Sans', sans-serif;
    color: white;
    background: black;
}

#canvasOne {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#canvas-holder {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.dropdown>li.clear-option {
    background: #511;
    display: none;
}

.container {
    position: absolute;
}
#overlay {
    position: absolute;
    left: 10px;
    top: 10px;
}

#overlay2 {
    position: absolute;
    right: 10px;
    top: 10px;
}
#infoBox {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.5);
    padding-left: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-bottom: 10px;
}